<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
			<key>Health share</key>
		<string>Avem nevoie de acces pentru a-ti organiza ziua.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Avem nevoie de ora de trezire pentru a calcula fazele optime de focus și cafeină.&quot;</string>
	<key>NSSupports​Live​Activities</key>
	<string>YES</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
